* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    max-width: 100%;
    max-height: 100%;
}

/* Hide all the img, else they will be draw on the top left corner of the page */
img {
    display: none;
}

p {
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;

    color: white;
}